<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <div class="btn-group-vertical" role="group" aria-label="..." style="width:100%">
        <button type="button" class="btn btn-default btn-lg">스터디</button>
        <button type="button" class="btn btn-default btn-lg">공모전</button>
        <button type="button" class="btn btn-default btn-lg">스타트업</button>
      </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class = "all">
        <% @category.each do |p| %>
        <%= p.name %>
        <% end %>     
      </div>
    </div>
  </div>
</div>

